<html>

<head>
    <title>LED Strip Stream Integration</title>
    <script>
        function setBrightness() {
          const brightness = document.getElementById("led_brightness").value;
          fetch(window.location.origin + "/setledbrightness?brightness=" + brightness, {
            headers: {
              "Content-Type": "application/json",
            },
            method: "POST"
          }).then(resp => {
            return resp.json();
          }).then(json => {
            console.log(JSON.stringify(json));
          });
        }

        function setDisplay() {
          const displayID = document.getElementById("display_type").value;
          fetch(window.location.origin + "/setdisplay?display=" + displayID, {
            headers: {
              "Content-Type": "application/json",
            },
            method: "POST"
          }).then(resp => {
            return resp.json();
          }).then(json => {
            console.log(JSON.stringify(json));
          });
        }
    </script>
</head>

<body>
<div>
    <h1>Hi!</h1>
    <div>
        <label for="led_brightness">Brightness:</label>
        <input type="range" id="led_brightness" name="led_brightness" value="{{brightness}}" min="0" max="255">
    </div>
    <div>
        <button onclick="setBrightness()">Set Brightness</button>
    </div>
    <div>
        <label for="display_type">Display: </label>
        <select name="display_type" id="display_type">
            {% for display in settings.display_types %}
                <option value="{{display.value}}">{{display.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button onclick="setDisplay()">Set Display</button>
    </div>
</div>
</body>
</html>